<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

    <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
    <variable name="myvar" value="myvalue"/>

    <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
    <targets>

        <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

        <!--
    Write events to a file with the date in the filename.
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
        <!-- <target xsi:type="File" name="LogsFile" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} | ${level:uppercase=true:padding=5} ${session} ${msisdn} - ${logger:shortName=true} - ${stackTrace} - ${message} ${exception:format=tostring}" keepFileOpen="true" />
    -->

        <target xsi:type="File" name="LogsFile" fileName="C:/inetpub/CrmService/LogFile/${shortdate}.log"
                 layout="${longdate} - ${event-properties:item=InstanceId} - ${level:uppercase=true}: ${event-properties:item=Type} - ${event-properties:item=Methodname} - ${message} - ${machinename} - ${event-properties:item=MacAddress} - ${local-ip:addressFamily=InterNetwork} ${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}" keepFileOpen="true" />
                <!--layout="${longdate} | ${level:uppercase=true:padding=5} - ${message} - ${machinename} - ${local-ip:addressFamily=InterNetwork} - ${event-properties:item=MacAddress} - ${event-properties:item=Organization} -  ${logger:shortName=true} - ${callsite:CleanNamesOfAnonymousDelegates=true:ClassName=false} - ${event-properties:item=Type} - ${stackTrace}  ${exception:format=tostring}"--> 
               

        <target xsi:type="Database" name="LogsDb"
                connectionString="${appsetting:item=connectionStrings.LogDb}"
                commandText="Insert into CrmService(date,level,message,machinename,ipaddress,macaddress,organization,logger,methodname,type,instanceId) values(@date,@level,@message,@machinename,@ipaddress,@macaddress,@organization,@logger,@methodname,@type,@InstanceId)">

            <parameter name="@date" layout="${longdate}" dbType="DateTime" />
            <parameter name="@level" layout="${level:uppercase=true:padding=5}" />
            <parameter name="@message" layout="${message}" />
            <parameter name="@machinename" layout="${machinename}" />
            <parameter name="@ipaddress" layout="${event-properties:item=ipaddress}" />
            <parameter name="@macaddress" layout="${event-properties:item=MacAddress}" />
            <parameter name="@organization" layout="${event-properties:item=Organization}" />
            <parameter name="@logger" layout="${logger:shortName=true}" />
            <parameter name="@methodname" layout="${event-properties:item=Methodname}" />
            <parameter name="@type" layout="${event-properties:item=Type}" />
            <parameter name="@InstanceId" layout="${event-properties:item=InstanceId}" />
            
        </target>

    </targets>

    <rules>
        <!-- add your logging rules here -->

        <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
        <logger name="*" level="Off" writeTo="LogsDb" />
        <logger name="*" level="Trace" writeTo="LogsFile"/>
        <logger name="*" level="Debug" writeTo="LogsDb" />
        <logger name="*" level="Info" writeTo="LogsDb"/>
        <logger name="*" level="Warn" writeTo="LogsDb" />
        <logger name="*" level="Error" writeTo="LogsDb" />
        <logger name="*" level="Fatal" writeTo="LogsDb" />
    </rules>
</nlog>
